
*{
    margin: 0;
}
:root{
    --red:#d01c28;
    --gray:#2e2e2e;
}
.Container{
    max-width: 1280px;
    margin:0px auto;
}
button{
all:unset;
padding: 6px 16px;
background: var(--red);
height: 32px;
color:white;
font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.MainB{
   display: flex;
   height: calc(100vh - 72px);
   align-items: center;
}
.MainB h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}
.MainB p{
    font-weight: 600;
    color:var(--gray);
}
.MainBtn{
    display: flex;
    gap: 40px;
}
.SecondBtn{
    background:transparent;
    color:var(--gray);
    border:1px solid gray;

}
.shopping p {
font-size: 14px;
margin-bottom: 8px;
}
.BrandIcon{
    display: flex;
    gap: 16px;
}